* {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dark {
  color: #dadada;
  background: #1c2022;
  min-height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 50px 30px;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: inherit;
  padding: 0 10px;
}

.nav li {
  margin-right: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}


.header-lg {
  font-size: 35px;
  font-weight: 300;
  margin: 20px;
}

.header-sm {
  font-size: 28px;
  font-weight: 300;
  margin: 10px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
}

.center-text {
  text-align: center;
}

.link {
  text-decoration: none;
  color: rgb(187, 46, 31);
  font-weight: 600;
}

.card-list {
  margin: 20px 0;
  font-size: 20px;
}

.card-list li {
  display: flex;
  align-items: center;
  margin: 10px;
}

.card-list svg {
  margin-right: 10px;
}

.card-list a {
  color: inherit;
  font-weight: 500;
}

.bg-light {
  background-color: #f6f6f6;
  border-radius: 10px;
}

.bg-dark {
  background-color: rgb(36, 40, 42);
  border-radius: 10px;
}

.card {
  margin: 10px 0;
  width: 250px;
  padding: 20px;
}

.card a {
  text-decoration: none;
}

.card img {
  margin-bottom: 8px;
}

.instructions-container {
  margin: 100px 0;
}

.container-sm {
  width: 80%;
  margin: 0 auto;
}

.battle-instructions {
  padding: 0;
  font-size: 25px;
}

.battle-instructions li {
  flex: 1;
  min-width: 300px;
}

.battle-instructions svg {
  padding: 40px;
  border-radius: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.player {
  flex: 1;
  margin: 0 20px;
  padding: 10px;
}

.player-label {
  font-size: 20px;
  margin: 5px 0;
  font-weight: 300;
  text-align: left;
}

.player-inputs input {
  padding: 8px;
  flex: 2;
  font-size: 16px;
  border: 1px solid #e6e6e6;
  box-shadow: inser 0 1px 2px rgba(0, 0, 0, 0.15);
}

.player-inputs .input-light {
  background: rgba(0, 0, 0, 0.02);
}

.player-inputs .input-dark {
  color: #dadada;
  background: rgb(0, 0, 0, 0.3);
}

.player-inputs button {
  flex: 1;
  margin-left: 10px;
}

.btn {
  padding: 10px;
  text-decoration: uppercase;
  letter-spacing: .25em;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-dark {
  color: #e6e6e6;
  background: #141414;
}

.btn-light {
  color: #000;
  background: #aaa8a8;
}

.btn-light:disabled {
  background: #292929;
  color: #4a4a4a;
}

.btn-dark:disabled {
  color: #c7c7c7;
  background: #f2f2f2;
}

.players-container {
  margin: 100px 0;
}

.avatar-small {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.player-info {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 20px;
  padding: 10px;
}

.player-info .link {
  margin-left: 10px;
}

.btn-clear {
  margin-right: 10px;
}

.btn-space {
  margin: 40px auto;
}

.error {
  color: #ff1616;
  font-size: 20px;
  margin: 50px 0;
}